.wrapper {
    margin: 0;
    background:  #101628;
    color: white;             
    height: 100vh;            
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  

@keyframes fadeUpText {
  0% {
    opacity: 0.2;
    transform: translateY(80px);  
  }
  100% {
    opacity: 1;
    transform: translateY(0);   
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0.2;
    transform: translateX(100px);  
  }
  100% {
    opacity: 1;
    transform: translateX(0);  
  }
}

.btnLoginPopup {
  position: absolute;
  width: 6.4em;
  height: 3.2em;
  background: transparent;
  border: 4px solid #9167fb;
  outline: none;
  border-radius: 200px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  top: 1em;
  right: 2em;
  transition: .5s;
}

.btnLoginPopup:hover {
  background: #9167fb;
  color: white;
}

.logo {
  font-size: 2.5em;
  color: #9167fb;
  user-select: none;
  position: absolute;
  top: 0.4em; 
  left: 1.3em; 
  margin: 0;
}


.fadeUpText {
  animation: fadeUpText 1s forwards;
}


